/* Base settings */
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

.h1 {
  font-size: 36px;
  line-height: 1.2;
  font-weight: 700;
  font-family: "Roboto";
  margin: 0;
}

.h2 {
  font-size: 32px;
  line-height: 1.4;
  font-weight: 700;
  font-family: "Roboto";
  margin: 0;
}

.h3 {
  font-size: 28px;
  line-height: 1.4;
  font-weight: 700;
  font-family: "Roboto";
  margin: 0;
}

.h4 {
  font-size: 24px;
  line-height: 1.4;
  font-weight: 700;
  font-family: "Roboto";
  margin: 0;
}

.h5 {
  font-size: 20px;
  line-height: 1.4;
  font-weight: 700;
  font-family: "Roboto";
  margin: 0;
}

.h6 {
  font-size: 16px;
  line-height: 1.4;
  font-weight: 700;
  font-family: "Roboto";
  margin: 0;
}

.body-small {
  font-size: 12px;
  line-height: 1.5;
  font-weight: 700;
  font-family: "Roboto";
  margin: 0;
}

.body-medium {
  font-size: 14px;
  line-height: 1.5;
  font-weight: 700;
  font-family: "Roboto";
  margin: 0;
}

.body-large {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 700;
  font-family: "Roboto";
  margin: 0;
}

.body-small {
  font-size: 12px;
  line-height: 1.5;
  font-weight: 400;
  font-family: "Roboto";
  margin: 0;
}

.body-medium {
  font-size: 14px;
  line-height: 1.5;
  font-weight: 400;
  font-family: "Roboto";
  margin: 0;
}

.body-large {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  font-family: "Roboto";
  margin: 0;
}

.body-small {
  font-size: 12px;
  line-height: 1.5;
  font-weight: 300;
  font-family: "Roboto";
  margin: 0;
}

.body-medium {
  font-size: 14px;
  line-height: 1.5;
  font-weight: 300;
  font-family: "Roboto";
  margin: 0;
}

.body-large {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 300;
  font-family: "Roboto";
  margin: 0;
}

.caption {
  font-size: 10px;
  line-height: 1.2;
  font-weight: 300;
  font-family: "Roboto";
  margin: 0;
}
